.btn-primary {
  color: $light;
  background-color: $primary;
  border-color: darken($color: $primary, $amount: 10);
  border-width: medium;
}

.radius50 {
  border-radius: 50%;
}

.radius20 {
  border-radius: 20px;
}
